# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# IDE
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Keys & secrets
*.keystore
*.jks
key.properties
google-services.json
GoogleService-Info.plist

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# Coverage
coverage/
